<h2 id="title">Welcome to Weather App</h2>

  <section id="weatherapp">
    <header id="header">
    </header>
    <body>
      <section id="main">
        <h1>Location</h1>
        {{input
        type="text"
        id="mylocation"
        placeholder="Zip Code"
        value=myLocation
        action="updateLocation"}}

        <h1>Date Range</h1>
        From: {{date-picker date=fromDate valueFormat='YYYY-MM-DD'}}
        To: {{date-picker date=toDate valueFormat='YYYY-MM-DD'}}
      </section>
    </body>
    <footer>
    </footer>
  </section>

{{outlet}}
